<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> DZ3X</title>
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/DZ3X" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">DZ3-готово</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/DZ3">DZ3</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/DZ3X">DZ3-готово</a>

      </nav>
    </div>
<h1>DZ3-готово</h1>
<p> DZ3-готово</p>
</body>
</html>
